        $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
        // bower:scss
        @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
        @import "font-awesome/scss/font-awesome.scss";
        // endbower
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700italic,700,600italic);
        $open-sans: 'Open Sans',
        sans-serif;
        .marketing,
        .footer {
            padding-left: 15px;
            padding-right: 15px;
        }
        /* Custom page header */
        
        .header {
            /*border-bottom: 1px solid #e5e5e5;*/
            margin-bottom: 10px;
            h3 {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 40px;
                padding-bottom: 19px;
            }
        }
        /* Make the masthead heading the same height as the navigation */
        /* Custom page footer */
        
        .footer {
            padding-top: 19px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }
        
        .container-narrow > hr {
            margin: 30px 0;
        }
        /* Main marketing message and sign up button */
        
        .jumbotron {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
            .btn {
                font-size: 21px;
                padding: 14px 24px;
            }
        }
        /* Supporting marketing content */
        
        .marketing {
            margin: 40px 0;
            p + h4 {
                margin-top: 28px;
            }
        }
        /* Responsive: Portrait tablets and up */
        
        @media not all and (min-width: 768px) {
            .container {
                max-width: 730px;
            }
            /* Remove the padding we set earlier */
            .header,
            .marketing,
            .footer {
                padding-left: 0;
                padding-right: 0;
            }
            /* Space out the masthead */
            .header {
                margin-bottom: 30px;
            }
            /* Remove the bottom border on the jumbotron for visual effect */
            .jumbotron {
                border-bottom: 0;
            }
        }
        
        @media all and (max-width: 1000px) {
            input.search-input {
                width: 420px;
            }
        }
        
        .md-toolbar-tools {
            h1 {
                width: 100%;
                left: 0;
                text-align: center;
                margin: auto;
            }
        }
        
        .margin-top {
            margin-top: 100px;
        }
        
        section#main {
            .main-container {
                text-align: center;
                border-radius: 4px;
                margin-bottom: 16px;
                -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
                transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
                position: relative;
                padding-bottom: 0;
                padding: 30px;
            }
        }
        
        .deals-card {
            .price-class {
                h1 {
                    display: inline-block;
                }
                h5 {
                    margin-left: 10px;
                    margin-right: 10px;
                    display: inline-block;
                }
                h2 {
                    display: inline-block;
                }
            }
        }