<div class="margin-top" ng-controller="DealsCtrl">
    <!-- Generate cards to show results from server -->
    <div class="main-container">
        <md-content class="md-padding" ng-repeat="deal in deals">
            <md-card>
                <img ng-src="../images/{{ deal.destination }}.png" class="md-card-image">
                <md-card-content class="deals-card">
                    <h2 class="md-title" text-align="left"> {{ deal.origin }} TO {{ deal.destination }} </h2>
                    <div class="price-class">
                        <h1 align-text="left">${{deal.price}}</h1>
                        <h5>originally</h5>
                        <h2 align-text="right">${{ deal.originalPrice }} </h2>
                    </div>


                    <h4><b>Date: </b> {{ deal.date }} </h4>
                    <h4><b>Seats available: </b> {{ deal.empty }} </h4>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="changeview()">Purchase</md-button>
                    <md-button>Share</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </div>
</div>