<div class="margin-top" ng-controller="LoginCtrl">
    <div class="main-container">
        <md-card class="login-card">
            <md-input-container>
                <input required type="email" ng-model="email" placeholder="Email" />
            </md-input-container>

            <md-input-container>
                <input required type="password" ng-model="password" placeholder="Password" />
            </md-input-container>
            <md-input-container>
                <md-button class="login-button md-primary" ng-click="login(email, password)">Login</md-button>
            </md-input-container>
        </md-card>
    </div>
    <md-input-container>
        <md-button class="md-raised md-warn" ng-click="register(email, password)">Register</md-button>
    </md-input-container>
</div>