<div class="margin-top">
    <div class="main-container">
        <md-card class="login-card">
            <md-input-container>
                <input required type="email" ng-model="email" placeholder="Email" />
            </md-input-container>

            <md-input-container>
                <input required type="password" ng-model="password" placeholder="Password" />
            </md-input-container>
            <md-input-container>
                <md-button class="login-button md-primary" ng-click="login(email, password)">Login</md-button>
            </md-input-container>
        </md-card>
    </div>
    <md-input-container>
        <a href="#/">
            <md-button class="md-raised md-warn">Register</md-button>
        </a>
    </md-input-container>
</div>